<div class="row">
<div class="col"></div>
<div class="col-md-15">
<h1> List of all Articles </h1>

<p>
	<%= link_to 'Create New Article', new_article_path, class:'btn btn-sm btn-info'%>

<table class="table table-hover table-striped table-responsive-xs">
<thead>
<tr>
	<th>Title</th>
	<th>Text</th>
	<th colspan= "3">Editing Options</th>
</tr>
<% @articles.each do |article| %>
</thead>
<tr>
	<td><%= article.title %></td>
	<td><%= truncate(article.text, length: 75) %></td>
	<td><%= link_to 'Show', article_path(article), class:'btn btn-link' %>
	<td><%= link_to 'Edit', edit_article_path(article),class:'btn btn-link' %></td>
	<td><%= link_to 'Delete', article_path(article), class:'btn btn-link', method: :Delete, data: {confirm: 'Sure to delete?'} %></td>
</tr>

<% end %>
</table>

<p> <%= link_to 'Main Page', welcome_index_path %></p>
</div>
<div class="col"></div>
</div>