<p><strong>Title:</strong>

	<%= @article.title %>
</p>

	<%= @article.created_at %>

<p><strong>Text:</strong>
	<%= @article.text %>
</p>

<hr>

<%= render 'comments/comment' %>

<hr>

<%= render 'comments/form' %>



<p><%= link_to 'Article List', articles_path %>

<%= link_to 'Main Page', welcome_index_path %></p>