<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Xinner's Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <%= active_link_to 'Home', 'welcome', 'index', welcome_index_path, 'active_nav-link' %>
              <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Blog', 'articles','index', articles_path, 'active_nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
        <%= form_tag search_articles_path, method: :get do %>
          <%= text_field_tag :search, nil, placeholder:'Search', class:"form-control mr-sm-2" %>
          <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %> 
        <% end %>
      </div>
      </div>
    </nav>